@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


$yellow: #eacf4f;
$white: #fff;
$black: #000;
$light-color: #aaa;
$border: .2rem solid rgba(255, 255, 255, .3);


@mixin title-text($titleSize){
    font-size: $titleSize;
    text-transform: uppercase;
    color: $white;
}

@mixin grap-text($grapSize){
    font-size: $grapSize;
    line-height: 2;
    color: $light-color;
}

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $yellow;
        border-radius: 5rem;
    }
}


body {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}



/* ======= Header Section/Seção do cabeçalho ======== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $black;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .icons {
        font-size: 2.5rem;
        cursor: pointer;
        color: $white;

        &:hover {
            color: $yellow;
        }
    }

}


























/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}    